body.b1{
  background-color:  white;
  height: 100vh;
  font-family:  "Raleway", sans-serif;
  padding: 0;
  margin: 0;

}
div.gallery {
  margin: 5px;
  max-width: 326px;
  max-height: 640px;
  border-radius: 36px;
}

div.gallery:hover {
  border: 0.1px solid #777;
  box-shadow: 13px, 19px,13px, 19px;
  border-radius: 5px;
  box-shadow: 5px 2px 5px 2px #000000;

}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

div.desc {
  padding: 10px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  width: 94%;
  color: black;
}

 div.background img{
  max-width: 100%;
  height: auto;
  border-radius: 3px;
 }

 a{
  color: black;
  text-decoration-line: none;
  font-family: sans-serif;
 }

 
 
 a.b1{
  display: inline-block;
  font-size: 15px;
  line-height: 120%;
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
  padding: 10px 30px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer,;
  transition: background-color ease 400ms;


 }

 a.b1:hover {
  color: #FFF;
  background-color: rgba(255,255,255,0.3);

 }


table.recenttb{
  background-color: white;
  border-collapse: collapse;
  border-color: black;
  border-width: 2px;
  position: relative;
}

table{
  border-collapse: collapse;
}
 
tr.tr1{
  background-color: #99ccff;
}

th.th1, td.td1 {
  padding: 1em;
  size: 13px;
}

p.p1 {
  text-align: justify;
  letter-spacing: 2px;
  color: white;
  padding: 15px 18px 15px 18px;
  font-size: 12px;


}
p{
  text-align: center;
  letter-spacing: 2px;
  color: white;
  font-size: 12px;

}

footer{
  background-color: #333333;
  width: 100%;
  height: auto;
  border-radius: 10px;
}


h1{
  color: white;
  padding-left: 21px;
}



nav.navbar{
  align-self: center;
  background-color:  white;
  max-width: 100%;
  padding-bottom: 3.5px;
  height: 60px;
  margin: 0;
  background: rgba(0,0,0,.8);
  border-top: 1px solid rgba(255,255,255,.2);
  border-bottom: 1px solid rgba(255,255,255,.2); 
  position: sticky;
  top: 0;


}

nav a{
  position: sticky;
  top: 0;

}

section.recenttb1{
  padding-top: 30px;
}

@media (max-width: 480px){

}
.btext{
  font-size: 14px;
}

